{{page-title "Nouveau todo"}}
<form novalidate>
  <div class="card">
    <div class="card-header bg-transparent">Nouveau todo</div>
    <div class="card-body">
      {{#let @model.todo.error.title as |isInvalid|}}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titre</label>
          <div class="has-validation">
            <input
              type="text"
              class={{(concat "form-control " (if isInvalid "is-invalid" ""))}}
              id="title"
              placeholder="titre du todo"
              {{on "input" this.updateTitle}}
            />
            {{#if isInvalid}}
              <div class="invalid-feedback">
                {{@model.todo.error.title.message}}
              </div>
            {{/if}}
          </div>

        </div>
      {{/let}}

    </div>
    <div class="card-footer">
      <button
        class="btn btn-success mt-1"
        type="submit"
        {{on "click" this.save}}
      >Sauvegarder</button>
    </div>
  </div>

</form>