{{page-title "Tâches"}}
<h1>Tâches</h1>

<p class="me-1">Compteur: {{this.counter}}</p>
<div class="d-inline-flex">
  <button
    class="btn btn-light"
    type="button"
    {{on "click" this.incr}}
  >Incr</button>
  <button
    class="btn btn-light"
    type="button"
    {{on "click" this.decr}}
  >Decr</button>
  <button
    class="btn btn-light"
    type="button"
    {{on "click" this.aleatoire}}
  >Rand</button>
</div>

<table class="table table-bordered m-2">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Détail</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |task|}}
      <tr>
        <td>{{task.name}}</td>
        <td><LinkTo @route="tasks.detail" @model={{task}}>Detail</LinkTo></td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}